/* 
-- rich-black:          #0d1b2aff;
-- oxford-blue:         #1b263bff;
-- yinmn-blue:          #415a77ff;
-- silver-lake-blue:    #778da9ff;
-- platinum:            #e0e1ddff;
-- pretty-yellow:       #fcba03ff;
*/

h1 {
    text-align: center;
    color: #e0e1ddff;
    font-family: "Sura", serif;
    font-weight: 700;
}

body {
    background-color: #0d1b2aff;
    color: #778da9ff;
    font-family: "Sura", serif;
    font-weight: 400;
}

.data-container {
    align-self: center;
}

table, th, tr, td {
    border-color: #415a77ff;
    border-collapse: collapse;
    color: #e0e1ddff;
    user-select: none;
}

td, th {
    padding: 15px;
    padding: 15px;
}

#main-table {
    margin: auto;
    width: 80%;
    border: 3px solid #1b263bff;
    padding: 10px;
}

table {
    width: 100%;
}

td {
    border-left: 2px solid;
    border-right: 2px solid;
}

tr:nth-child(even) {
    background-color: #1b263bff;
}

tr:hover { background-color: #778da9aa; color: #0d1b2aff}

th {
    text-align: center;
    height: 30px;
    background-color: rgb(0, 171, 190);
}

#top-description {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid #1b263bff;
    padding: 10px;
}

.sign {
    text-align: left;
}